<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login | LearnDNA AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <div class="form-card">

        <h1>Welcome Back</h1>

        <p>Login to continue learning with LearnDNA AI.</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <p class="bottom-text">

            Don't have an account?

            <a href="{{ url_for('register') }}">
                Register
            </a>

        </p>

    </div>

</div>

</body>

</html>